
detectPolyps.asv
FClear.asv
FCreateSeed.asv
FCreateSeed.m
FHouTrans.asv
FHysThres.asv
FOtsuThres.asv
FOtsuThres.m
FLight.asv
FMorphGrad.asv
FMorphGrad.m
FRegionGrow.asv
homofil.m
ParametricMap.asv
ParametricOrig.asv
polypsEval.asv
Projekt1.asv
trainClassificator.asv
trainRFcluster.asv
